@model SignInInput
@{
    ViewData["Title"] = "SignIn";
}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Üye Girişi</h5>
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <form asp-controller="Auth" asp-action="SignIn" method="post">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" asp-for="Email" value="ahmetsarikaya0696@gmail.com">
                            <label asp-for="Email"></label>
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" asp-for="Password" value="Password12*">
                            <label asp-for="Password">Password</label>
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>

                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" asp-for="IsRemember">
                            <label class="form-check-label" asp-for="IsRemember"></label>
                            <span class="text-danger" asp-validation-for="IsRemember"></span>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Giriş</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

